
<video src="../../../assets/items/pexels_videos_1570919 (1080p).mp4" class="object-fit-none" autoplay loop></video>
<h1>Welcome to <span class="h1span">ELEGANTE</span> shop</h1>

<div class="newcollection">
    <h2>New Collection <span class="badge bg-info">NEW</span></h2>
</div>

<div class="cards">
      <div class="card" style="width: 18rem;">
        <div class="imagediv1"></div>
        <!-- <img src="../../../assets/items/tshirtclassic.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Classic White T-Shirt</h5>
            <p class="card-text">
              Elevate your wardrobe with our timeless Classic White T-Shirt. Crafted for comfort and style, this wardrobe essential is perfect for any occasion. The soft cotton fabric ensures a comfortable fit, while the classic design allows for versatile styling. Whether you're dressing up or keeping it casual, this white t-shirt is a must-have staple.
            </p>
            <p class="card-text-price">
              Price: <span> $19.99</span>
            </p>
            <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="imagediv2"></div>
        <!-- <img src="../../../assets/items/womenbag.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Stylish Women's Handbag</h5>
          <p class="card-text">Elevate your style with our chic Women's Handbag. This fashionable accessory is designed to complement your look and carry your essentials with ease. Crafted with high-quality materials and attention to detail, it's the perfect blend of functionality and style.</p>
          <p class="card-text-price">
            Price: <span> $49.99</span>
          </p>
          <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="imagediv3"></div>
        <!-- <img src="../../../assets/items/Kosulja.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Classic White Shirt for Men</h5>
            <p class="card-text">
              Upgrade your wardrobe with our Men's Classic White Shirt. Impeccably tailored and crafted from premium cotton, this shirt offers a crisp and clean look. Versatile for both formal and casual occasions, it's a timeless addition to your collection.
            </p>
            <p class="card-text-price">
              Price: <span> $29.99</span>
            </p>
            <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="imagediv4"></div>
        <!-- <img src="../../../assets/items/sweatshirt.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Casual Black Hoodie for Men</h5>
            <p class="card-text">
            Stay cozy and stylish with our Men's Black Hoodie. Made from soft and comfortable fabric, this hoodie is perfect for chilly days and casual outings. The classic black color adds a touch of urban flair to your wardrobe.
            </p>
            <p class="card-text-price">
            Price: <span> $39.99</span>
            </p>
          <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="imagediv5"></div>
        <!-- <img src="../../../assets/items/trenerka.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Trendy Women's Tracksuit Set</h5>
            <p class="card-text">
              Embrace comfort and style with our Women's Tracksuit Set. Perfect for workouts or laid-back days, this set combines a fashionable design with functionality. The breathable fabric ensures a comfortable fit, making it an ideal choice for an active lifestyle.
            </p>
            <p class="card-text-price">
              Price: <span> $54.99</span>
            </p>
        <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div>

      <!-- <div class="card" style="width: 18rem;">
        <img src="../../../assets/items/tshirtclassic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-info">View Details</a>
        </div>
      </div> -->


</div>

<button type="button" class="seemore">See More</button>

<div class="imageandtext">
    <div class="card text-bg-dark">
        <img src="../../../assets/items/ecommerce-3546296.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <div class="text">
              <h5 class="card-title">Unlock Convenience with Online Shopping</h5>
              <p class="card-text">
                Embrace the future of retail with the ease and comfort of online shopping. Explore a world of products from the comfort of your home or on the go. Whether you're seeking the latest trends, everyday essentials, or unique finds, the virtual marketplace has something for everyone.
              </p>
              <p class="card-text">
                Discover a wider array of choices and detailed product information. Navigate through user reviews to make informed decisions. The convenience of doorstep delivery and flexible payment options redefine the way we shop.
              </p>
            </div>
            
          </div>
        
      </div>
</div>



<div class="best">
  <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-5">
              <img src="../../../assets/items/odelo-removebg-preview.png" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="text">
              <h2>BEST PRODUCT <span class="badge bg-info">BEST</span></h2>
            </div>
                <h3 class="card-title">TWO PIECE DARK MEN'S SUIT, MICROWOVEN, LANIFICIO ING. LORO PIANA</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis vitae earum exercitationem laboriosam ducimus quasi a! Repellendus, rerum. Aperiam quasi rem et praesentium aliquid eaque ratione totam esse atque commodi? </p>
              
              <ul>
                <li>Design: Micro weave</li>
                <li>Material: 100% wool Super 120'S</li>
                <li>Available in slim fit and regular fit</li>
                <li>Maintenance: Dry cleaning only</li>
              </ul>
              <div class="price">
                <h1><span>$</span>344,<span>99</span></h1>
              </div>
              <button type="button" class="seemore">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="contact">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2>Contact Us</h2>
      <form action="#" method="post">
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Your Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">Your Message:</label>
          <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
